<div
	class="d-flex flex-column calc-container border-0 rounded shadow bg-primary"
>
	<input
		type="text"
		class="calc-display text-dark border-0 pl-4"
		aria-label="Value currently displayed on calculator"
		[value]="displayed$ | async"
		disabled
	/>
	<div class="row row-cols-{{ topRowInputs.length }} no-gutters">
		<div *ngFor="let input of topRowInputs">
			<clc-stack-calc-input [input]="input"></clc-stack-calc-input>
		</div>
	</div>
	<div class="row row-cols-3 no-gutters">
		<div *ngFor="let input of bottomRowInputs">
			<clc-stack-calc-input [input]="input"></clc-stack-calc-input>
		</div>
	</div>
</div>
