/* You can add global styles to this file, and also import other style files */
$primary:#140941
$secondary: #4559FF
$theme-colors: ( "tertiary": #F5F5F5 )

$body-bg: whitesmoke
$body-color: $primary

$font-family-sans-serif: "Open Sans", Roboto
  
@import "~bootstrap/scss/bootstrap"

